APP_ENV=development
API_ADDR=:8080
DATABASE_URL=postgres://root:023560R@localhost:5432/aksesibilitaswebsite?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB="0"
WEB_ORIGIN=http://localhost:3000
SESSION_COOKIE_NAME=aksesibilitaswebsite_session
SESSION_TTL=168h
SCAN_TIMEOUT=60s
SCAN_QUEUE=scanner
WORKER_CONCURRENCY=2
CHROME_PATH=C:/Program Files/Google/Chrome/Application/chrome.exe
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_CSRF_COOKIE_NAME=aksesibilitaswebsite_session_csrf
