.env
.env.local
.env.vercel
.env.*.local
!.env.example
!.env.local.example

node_modules/
.pnpm-store/
.next/
out/
dist/
coverage/

bin/
tmp/
*.exe
*.test
*.out

.vscode/
.idea/

db-data/
redis-data/

embedded/*.tmp
